<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pinnacle Dynamo: Info</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src="static/transaction.js"></script>
</head>
<body>

<div class="header">
    <div class="nav-bar">
        <div class="nav-links">
            <a href="/home">Home</a>
            <a href="/transactions">Transactions</a>
            <a href="/about">About</a>
        </div>
    </div>
</div>

<div class="content">
    <div class="page" style="width: 95vw;">
        <p style="text-align: center;">Sellers near You</p>
        <!--  Have a Table View thing here  -->
        <table class="bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Price Per kWh</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>UPrk</td>
                <td>CS</td>
                <td class="rep" data-rep="2"></td>
                <td>
                    <div class="status"><p>1</p></div>
                </td>
                <td>Rs. 4</td>
            </tr>
            <tr>
                <td>UPrk</td>
                <td>CS</td>
                <td class="rep" data-rep="4"></td>
                <td class="status-col">
                    <div class="status"><p>1</p></div>
                </td>
                <td class="price">Rs. 4</td>
            </tr>
            <tr>
                <td>UPrk</td>
                <td>CS</td>
                <td class="rep" data-rep="5"></td>
                <td>
                    <div class="status"><p>1</p></div>
                </td>
                <td class="price">Rs. 4</td>
            </tr>
            <tr>
                <td>UPrk</td>
                <td>CS</td>
                <td class="rep" data-rep="2"></td>
                <td>
                    <div class="status"><p>1</p></div>
                </td>
                <td class="price">Rs. 4</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="footer">
    <p>2024 &copy; Solar Pool?. All rights reserved.</p>
    <a class="ext-links" href="https://github.com/GlaucousGlaucus/PinnacleDynamo_Help">
        <img alt="Lyrics Editor" src="Resources/Icons/github-mark-white.svg"/>
    </a>
</div>

</body>
</html>
