{% extends "layout.html" %}
{% block content %}

<div class="video-bg">
    <video id="bgVideo" preload="true" autoplay loop muted>
        <source id="videoSource" src="static/Resources/Videos/bg_vid1.mp4" type="video/mp4" />
    </video>
</div>

<div id="grad1" style="text-align:center;">
    <h1>Solar Chain</h1>
    <h2>Channel Your...Solars!</h2>
    <h2 class="h2-nline">And Save Your...Dollars!</h2>
</div>

<div class="content">
    <h1>What Does It Offer?</h1>

    <div class="help_content">
        <div class="quick_tile">
            <img src="static/Resources/images/solar1.jpg"/>
            <div class="bg_fade"></div>
            <p class="title">Solar Energy</p>
            <p class="subtitle">Solar Energy is Gud</p>
        </div>
        <div class="quick_tile">
            <img alt="Earn Money" src="static/Resources/images/profit.jpg"/>
            <div class="bg_fade"></div>
            <p class="title">Earn Money</p>
            <p class="subtitle">Stonks...</p>
        </div>
    </div>
    <div class="feature_display">
        <div class="feature_desc">
            <h3>Feature Title</h3>
            <p>Desc here</p>
        </div>
        <img alt="Lyrics Editor" src="static/Resources/images/SolarHouse.png"/>
    </div>

</div>


{% endblock content %}
