{% extends "layout.html" %}
{% block content %}

<div class="video-bg">
    <video id="bgVideo" preload="true" autoplay loop muted>
        <source id="videoSource" src="static/Resources/Videos/bg_vid1.mp4" type="video/mp4"/>
    </video>
</div>

<div id="grad1" style="text-align:center;">
    <h1>Solar Chain</h1>
    <h2>Channel Your...Solars!</h2>
    <h2 class="h2-nline">And Save Your...Dollars!</h2>
    <h2 class="h2-2line">we blew it...chain's broken</h2>
    <a href="/register" class="fill_button" style="margin-top: 2rem;">Get Started</a>
</div>

<div class="content">
    <h1>What Does It Offer?</h1>

    <div class="help_content">
        <div class="quick_tile">
            <img src="static/Resources/images/solar1.jpg"/>
            <div class="bg_fade"></div>
            <p class="title">Solar Energy</p>
            <p class="subtitle">Utilize renewable energy to power your home and community with our cutting-edge solar
                technology.</p>
        </div>
        <div class="quick_tile">
            <img alt="Earn Money" src="static/Resources/images/profit.jpg"/>
            <div class="bg_fade"></div>
            <p class="title">Earn Money</p>
            <p class="subtitle">Profit from excess energy by selling it on a secure blockchain platform. Turn your solar
                investment into a continuous revenue stream.</p>
        </div>
        <div class="quick_tile">
            <img src="static/Resources/images/env.png"/>
            <div class="bg_fade"></div>
            <p class="title">Protect the Environment</p>
            <p class="subtitle">Reduce your carbon footprint and contribute to a cleaner, more sustainable planet by
                using solar power.</p>
        </div>
        <div class="quick_tile">
            <img src="static/Resources/images/community.png"/>
            <div class="bg_fade"></div>
            <p class="title">Empower Your Community</p>
            <p class="subtitle">Join a network of energy sharers to strengthen your community's energy resilience and
                independence.</p>
        </div>
        <div class="quick_tile">
            <img src="static/Resources/images/SolarHouse.png"/>
            <div class="bg_fade"></div>
            <p class="title">Advanced<br>Technology</p>
            <p class="subtitle">Leverage the latest in blockchain and solar technology to efficiently manage and trade
                energy resources.</p>
        </div>
    </div>
    <div class="feature_display">
        <div class="feature_desc">
            <h3>Blockchain-Powered Transactions</h3>
            <p>Experience seamless and secure transactions for buying and selling solar energy within your local
                community. Our platform ensures transparency, security, and efficiency using blockchain technology.</p>
        </div>
        <img alt="Energy Monitoring" src="static/Resources/images/blockchain.png"/>
    </div>
    <div class="feature_display">
        <img alt="Solar House" src="static/Resources/images/energy.png"/>
        <div class="feature_desc">
            <h3>Real-Time Energy Tracking</h3>
            <p>Monitor your energy production and consumption in real-time with our intuitive dashboard. Stay informed about your energy usage and adjust your habits to maximize efficiency and savings.</p>
        </div>
    </div>
</div>


{% endblock content %}
