{% extends "layout.html" %}
{% block content %}

<div class="video-bg">
    <video id="bgVideo" preload="true" autoplay loop muted>
        <source id="videoSource" src="static/Resources/Videos/many_panels.mp4" type="video/mp4" />
    </video>
</div>

<div id="grad1" style="text-align:center;">
    <h1>Solar Chain</h1>
    <h2>Channel Your...Solars!</h2>
    <h2 class="h2-nline">And Save Your...Dollars!</h2>
</div>

<div class="content">
    <h1>What Does It Offer?</h1>

    <div class="help_content">
        <div class="quick_tile">
            <a href="Help Pages\quick_start.html">
                <img alt="Solar Energy" src="Resources/Illustrations/quick_start.svg"/>
                <div class="bg_fade"></div>
                <p class="title">Solar Energy</p>
                <p class="subtitle">Solar Energy is Gud</p>
            </a>
        </div>
        <div class="quick_tile">
            <a href="Help Pages\lyrics_editor.html">
                <img alt="Earn Money" src="Resources/Illustrations/Writer.svg"/>
                <div class="bg_fade"></div>
                <p class="title">Earn Money</p>
                <p class="subtitle">Stonks...</p>
            </a>
        </div>
        <div class="quick_tile">
            <a href="Help Pages\quick_start.html">
                <img alt="Solar Energy" src="Resources/Illustrations/quick_start.svg"/>
                <div class="bg_fade"></div>
                <p class="title">Solar Energy</p>
                <p class="subtitle">Solar Energy is Gud</p>
            </a>
        </div>
        <div class="quick_tile">
            <a href="Help Pages\lyrics_editor.html">
                <img alt="Earn Money" src="Resources/Illustrations/Writer.svg"/>
                <div class="bg_fade"></div>
                <p class="title">Earn Money</p>
                <p class="subtitle">Stonks...</p>
            </a>
        </div>
    </div>
    <div class="feature_display">
        <div class="feature_desc">
            <h3>Feature Title</h3>
            <p>Desc here</p>
        </div>
        <img alt="Lyrics Editor" src="Resources/Illustrations/Writer.svg"/>
    </div>
</div>


{% endblock content %}
