{% extends "layout.html" %}
{% block content %}

<div class="content">
    <div class="page" style="width: 95vw;">
        <h1 class="heading">Available Sellers</h1>

        <!-- Table for listing existing sell orders -->
        <table class="bordered">
            <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Seller Name</th>
                <th scope="col">Seller Rating</th>
                <th scope="col">Units Available</th>
                <th scope="col">Price Per kWh</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
    {% for item in sell_orders %}
    <tr>
        <td>{{ item.order.id }}</td>
        <td>{{ item.seller.username }}</td>
        <td class="rep" data-rep="{{ item.seller.seller_rep }}"></td>
        <td>{{ item.order.units }}</td>
        <td>Rs. {{ item.order.price }}</td>
        <td>
            <div class="status"><p>{{ item.status }}</p></div>
        </td>
        <td>
            <a class="button" href="{{ url_for('checkout_page', order_id=item.order.id) }}">Buy</a>
        </td>
    </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
