{% extends "layout.html" %}
{% block content %}

<script src="static/home_page.js"></script>

<div class="dashboard_container">
    <div class="dashboard">
        <div class="user_display">
            <img class="profile_picture" src="static/Resources/images/profile.jpg">
            <p style="font-size: 0.5em; margin: 0;">{{ current_user.username }}</p>
            <p style="font-size: 0.2em; margin: 0;">User ID: {{ current_user.id }}</p>
            <a class="button" href="{{ url_for('logout') }}">Sign Out</a>
        </div>

        <div style="height: 100%; border: 2px solid white;" class="line"></div>

        <div class="vertical_div">
            <div role="progressbar" aria-valuenow="{{ units_used }}" aria-valuemin="0" aria-valuemax="100" style="--value:{{ units_used }}">
                {{ current_user.units }}/{{ current_user.capacity }}
            </div>
            <div>
                <p style="font-size: 2rem;"> {{ current_user.units }}/{{ current_user.capacity }} Units Available </p>
            </div>

            <div class="balance_info_cont">
                <div class="info_options">
                    <a class="button" href="{{ url_for('buyer_page') }}">Buy More</a>
                    <a class="button" href="{{ url_for('seller_page') }}">Sell</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% for message in get_flashed_messages() %}
        <div class="invalid-feedback">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
