{% extends "layout.html" %}
{% block content %}

<div class="dashboard_container">
    <div class="dashboard">
        <div class="user_display">
            <img style="width: 20vw; height: 20vw" src="static/Resources/images/profile.jpg">
            <p style="font-size: 0.5em; margin: 0;">Name</p>
            <p style="font-size: 0.2em; margin: 0;">Title</p>
            <a class="button" href="{{ url_for('logout') }}">Sign Out</a>
        </div>

        <div style="height: 100%; border: 2px solid white;" class="line"></div>

        <div class="pie">40 Units Left<br>50%</div>
        <div class="balance_info_cont">
            <div class="info_options">
                <button>Buy More</button>
                <button>Sell</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
