<!DOCTYPE html>
<html>
<head>
    <title>Solar Chain - Byte Force</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src="static/home_page.js"></script>
    <script src="static/transaction.js"></script>
</head>
<body>

<div class="header">
    <div class="nav-bar">
        <div class="nav-links">
            <a href="/home">Dashboard</a>
            <a href="/transactions">Transactions</a>
            <a href="/about">About</a>
        </div>
        <div class="account-link">
            <a href="/register">Account</a>
        </div>
    </div>
</div>

<div class="container">
  {% block content %}{% endblock %}
</div>

<div class="footer">
    <p>2024 &copy; Byte Force. All rights reserved. Lol</p>
    <a class="ext-links" href="https://github.com/GlaucousGlaucus/SIH-Hackathon-2024">
        <img alt="Lyrics Editor" src="static/Resources/Icons/github-mark-white.svg"/>
    </a>
</div>

</body>
</html>
