{% extends "layout.html" %}
{% block content %}

<div class="content">
    <div class="page" style="width: 95vw;">
        <p style="text-align: center;">Sellers near You</p>
        <!--  Have a Table View thing here  -->
        <table class="bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Seller ID</th>
                <th scope="col">Seller Name</th>
                <th scope="col">Buyer ID</th>
                <th scope="col">Units</th>
                <th scope="col">Total Price</th>
            </tr>
            </thead>

            <tbody>
            {% for row in history %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.seller_id}}</td>
                    <td>{{row.seller_username}}</td>
                    <td>{{row.buyer_id}}</td>
                    <td>{{row.units}}</td>
                    <td>{{row.price}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock content %}
